<div class="container">
  <ul class="collection">
    <a href="#" class="collection-item avatar">
      <i class="fas fa-plus-circle circle"></i>
      <span class="title">Adicionar</span>
      <a href="#!" class="secondary-content">
        <i class="material-icons">grade</i>
      </a>
    </a>
    <a href="#" class="collection-item avatar">
      <i class="fas fa-edit circle"></i>
      <span class="title">Editar</span>
      <a href="#!" class="secondary-content">
        <i class="material-icons">grade</i>
      </a>
    </a>
    <a href="#" class="collection-item avatar">
      <i class="fas fa-times-circle circle"></i>
      <span class="title">Excluir</span>
      <a href="#!" class="secondary-content">
        <i class="material-icons">grade</i>
      </a>
    </a>
    <!--
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line
        <br> Second Line
      </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">grade</i>
      </a>
    </li>
    -->
  </ul>
</div>