<!-- Footer 1b8855b -->
<footer class="text-center" style="background-color: #2c3e50">
  <!--
  <div class="footer-above">
    <div class="container" style="color: white;">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Idie Software</h3>
          <p>Development
            <br>Web - Desktop - Mobile</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="#" class="btn-social btn-outline">
                <i class="fa fa-fw fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline">
                <i class="fa fa-fw fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/Idie_Software" class="btn-social btn-outline">
                <i class="fa fa-fw fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline">
                <i class="fa fa-fw fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline">
                <i class="fa fa-fw fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Idie Software</h3>
          <p>Idie Software applications developed for your needs, is
            <a href="">Our Work</a>.</p>
        </div>
      </div>
    </div>
  </div>
-->
  <div class="footer-below" style="background-color: #233140">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 center" style="color: white; font-size: 1em;">
          Copyright &copy; Idie Software 2016 - 2018
        </div>
      </div>
    </div>
  </div>
</footer>